numpy==1.26.4
packaging==25.0
pillow==11.3.0
protobuf==4.25.3
pyarrow==14.0.2
rpds-py==0.26.0
six==1.16.0
smmap==5.0.2
tenacity==8.2.3
threadpoolctl==3.6.0
toml==0.10.2
tornado==6.3.3
typing_extensions==4.11.0
urllib3==2.2.1
watchdog==4.0.0
streamlit
pandas
joblib
scikit-learn